.ProfilePhoto {
  width: 700px;
  height: 700px;
  box-sizing: border-box;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 5px auto;
  padding: 10px;
  text-align: center;
}

.ProfilePhoto img {
  display: block;
  margin: auto;
}

.ProfilePhoto button {
  display: block;
  margin: auto;
  margin: 10px auto;
  height: 50px;
  width: 100px;
  border-radius: 5px;
}



.ProfilePhotoBlank {
  width: 600px;
  height: 600px;
  background-color: gray;
  display: block;
  margin: 0 auto;
}


.ProfilePhotoBlank p {
  color: white;
  padding: 30px;
}

