.NewPhoto {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  margin: auto;
  width: 300px;
  height: 400px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.NewPhoto input{
  margin: 0 auto
}

.NewPhoto button{
  border-color: purple;
  color: purple;
  background-color: white;
  border-radius: 5px;
  margin-top: 30px;
  width: 150px;
  height: 50px;
  margin: auto;
}


